<!doctype html>
<html>
<head>
  <title>LuckyNum</title>
  <script src="https://unpkg.com/jquery"></script>
  <link href="/static/style.css" rel="stylesheet">
</head>
<body>

  <form id="lucky-form">
    {{ form.hidden_tag() }}
    
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}<br>
            {{field}}
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </p>
        {% endfor %}

        <p>{{message}}</p>
        <button type="submit">Im feeling lucky!</button>
    </form>

<div id="lucky-results"></div>

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/lucky.js"></script>

</body>
</html>